name: "CI Develop Pipeline"

on: 
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
      
env:
  NODE_VERSION: 20
  
jobs:
  ci:
    name: Build, Test, Lint, Coverage 
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: 'npm'

      - name: Install dependencies
        run: npm install

      - name: Run lint
        run: npm run lint

      - name: Run Tests Unitaites
        run: npm run test:unit

      - name: Run Tests d'Integration
        run: npm run test:integration

      - name: Load coverage
        run: npm run coverage

      - name: Upload du rapport de coverage
        uses: actions/upload-artifact@v4
        with:
          name: coverage-report
          path: coverage/


  
